 /* @font-face {
    font-family: basefont;
    src: url('../font/NotoSansCJKtc-Bold.ttf') format('truetype');
    src: url('../font/NotoSansCJKtc-Bold.ttf?#iefix') format('truetype');
    src: local('Noto Sans CJK TC Bold') format('truetype');
    font-weight: bold;
  } */

body{
    width: 100%;
    height: 100%;
    font-family: Arial;
    overflow: hidden;
}

.wrapper {
    width: 1024px;
    height: 768px;
    /* background-color: #d71440;*/
    background: url(../img/background.png) no-repeat;
    padding: 30px 32px 22px 32px;
    color: #333333;
    box-sizing: border-box;
}

.wrapper.VG {
    background: url(../img/VG_background.png) no-repeat;
    color: #ffff16;
}

.toparea{
    width: 960px;
    height: 142px;
    position: relative;
    /* background: url(../img/bgtop.png) no-repeat; */
    overflow: hidden;
    box-sizing: border-box;
    clear: both;
}

.VG .toparea{
    background: #000000;
    /* border: 1px solid #9ea283; */
}

.toparea h1{
    width: 156px;
    height: 100%;
    padding: 26px 0 0 36px;
    box-sizing: border-box;
    float: left;
}

.VG .toparea h1{
    width: 159px;
    padding: 24px 0 0 33px;
}

.titlewrapper{
    float: right;
    position: absolute;
    width: 804px;
    height: 142px;
    box-sizing: border-box;
    right: 0;
    bottom: 0;    
}

.VG .titlewrapper{
    width: 801px;
}

.titlewrapper h2{
    position: absolute;
    bottom: 15px;
    right: 0;
    /* font-size: 40px; */
    font-size: 34px;
    font-weight: bold;
    color: #d71440;
    margin: 0 50px 0 0;
    text-align: right;
    vertical-align: bottom;
}

.VG .titlewrapper h2{
    color: #ffff16;
}


.contentarea{
    width: 960px;
    height: 554px;
    /* background: url(../img/bg.png) no-repeat; */
    border: 0 solid #d71440;
    border-top-width: 20px;
    overflow: hidden;
}

.VG .contentarea{
    background: #000000;
    /* border: 1px solid #9ea283; */
    border-top-width: 0;
    margin-top: 20px;
}

.idlearea{
    position: relative;
    text-align: center;
    height: 100%;
    padding-top: 17px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    /* font-size: 45px; */
    font-size: 34px;
    font-weight: bold;
}

.pinpad{
    margin-top: 17px;
}
.pinarea{
    text-align: center;
}

.password{
    width: 465px;
    height: 96px;
    background: url(../img/bg_input_pin.png) no-repeat;
    margin:45px auto 0;
}

.VG .password{
    background: url(../img/VGbg_input_pin.png) no-repeat;
}

.password div{
    height: 96px;
    padding-top: 28px;
    text-align: center;
    /* font-size: 60px; */
    font-size: 51px;
    font-weight: bold;
    letter-spacing: 10px;
}

.guidepinpad{
    margin: 44px 0 0 90px;
}

.underline{
    text-decoration: underline;
    text-align: center;
    /* font-size: 45px; */
    font-size: 38px;
    font-weight: bold;
    margin-top: 29px;
}

.idlearea .underline{
    margin-top: 0;
}

.ad{
    position: absolute;
    left: 156px;;
    bottom: 10px;
}

.noticearea{
    height: 554px;
    text-align: center;
    padding-top: 63px;
    box-sizing: border-box;
}

.noticearea h3{
    /* font-size: 60px; */
    font-size: 51px;
    margin-bottom: 30px;
}


.noticearea p{
    /* font-size: 40px; */
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
}

.noticearea .attention{
    color: #d71440;
    margin-top: 50px;
}

.receiptarea{
    padding-top: 130px;
    position: relative;
    height: 554px;
    box-sizing: border-box;
}

.receiptarea p{
    /* font-size: 40px;
    line-height: 40px; */
    font-size: 34px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    margin-top: 204px;
    margin-bottom: 11px;
}

.btnarea .menu{
    margin-top: 0;
}

.textarea{
    padding-top: 130px;
    position: relative;
    height: 554px;
    box-sizing: border-box;
}

.textarea h3{
    margin: 0 auto;
}

.btnarea.bottom{
    position: absolute;
    bottom: 15px;
}

.completearea{
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
    font-weight: bold;
}

.completearea h3{
    /* font-size: 60px; */
    font-size: 51px;
}
.completearea p{
    /* font-size: 40px; */
    font-size: 34px;
    margin-bottom: 23px;
}

.smalltxt{
    /* font-size: 35px; */
    font-size: 30px;
    margin-top: 58px;
}

/*menu list*/
.leftmenu{
    width: 479px;
    float: left;
    padding: 19px 0 0 38px;
    box-sizing: border-box;
}

.rightmenu{
    width: 479px;
    float: right;
    padding-right: 38px;
    padding: 19px 38px 0 0;
    box-sizing: border-box;
}


.menu{
    position: relative;
    width: 400px;
    height: 90px;
    line-height: 90px;
    background-color:#faaca8;
    /* font-size: 38px; */
    font-size: 32px;
    font-weight: bold;
    border: 0;
    margin-top: 40px;
    box-sizing: border-box;
}

.leftmenu .menu{
    float: left;
    padding-left: 52px;
    text-align: left;
    background: url(../img/bg_button_left.png) no-repeat;
}

.VG .leftmenu .menu{
    background: url(../img/VGbg_button_left.png) no-repeat;
}

.rightmenu .menu{
    float: right;
    padding-right: 52px;
    text-align: right;
    background: url(../img/bg_button_right.png) no-repeat;
}

.VG .rightmenu .menu{
    background: url(../img/VGbg_button_right.png) no-repeat;
}

.balancearea{
    padding-top: 20px;
    box-sizing: border-box;
}

.balancearea p{
    /* font-size: 40px; */
    font-size: 34px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 11px;
}

.inputbox{
    width: 100%;
    height: 76px;
    line-height: 76px;
    margin-bottom: 64px;
    overflow: hidden;
}

.inputbox .content{
    float: right;
}
.inputbox span{
    display: inline-block;
    color: #666666;
    /* font-size: 35px;
    line-height: 35px; */
    font-size: 30px;
    line-height: 30px;
    margin-right: 9px;
    font-weight: bold;
}

.VG .inputbox span{
    color: #ffff16;
}

.balancearea p{
    margin-top: 143px;
}

.balancearea .textbox{
    float: right;
    margin-right:20px ;
}

.textbox{
    width: 516px;
    height: 76px;
    line-height: 76px;
    background: url(../img/bg_input.png) no-repeat;
    padding-left: 13px;
    /* font-size: 50px; */
    font-size: 43px;
    box-sizing: border-box;
}

.VG .textbox{
    background: url(../img/VGbg_input.png) no-repeat;
}

.center{
    text-align: center;
    line-height: 554px;
}

.red{
    color: #d71440;
}

.advertising {
    width: 1024px;
    height: 768px;
    padding: 30px 32px 22px 32px;
    color: #333333;
    box-sizing: border-box;
    background-image: url(../img/welcome1.PNG);
  }
  
  .advertising.vg {
    background-image: url(../img/VGwelcome1.PNG);
  }